{% extends "base.html" %}

{% block content %}
<div class="container py-5 text-center">
    <div class="card shadow p-4 mt-4">
        <img src="/media/secret.png" alt="Secret" style="width: 100%; max-height: 500px; object-fit: contain;">
    </div>

    <div class="mt-4 mx-auto" style="max-width: 800px; text-align: justify; text-justify: inter-word; line-height: 1.6;">
        <p class="fs-5 text-dark">
            Дорогі друзі, з якими я розробляв цей проєкт! Я хочу сказати вам велике дякую за підтримку та мотивацію, яку ви надавали мені впродовж цього року. Дякую вам за ваш позитив та емоції, які ви дарували мені за цей період часу. Мені було приємно знати, що я працюю в колективі, який завжди підтримає. Дякую вам!
        </p>
        <p class="fs-5 text-dark">
            Окрема подяка Олі, яка мені допомагала у важкі моменти, коли у мене щось не виходило чи не працювало.
        </p>
        <p class="fs-5 fw-bold text-center text-dark mt-3">
            Наостанок скажу: велике вам дякую, мої друзі!
        </p>
    </div>
</div>
{% endblock %}